body {
  text-align: center;
  background-color: black;
  font-family: Garamond, cursive;
  color: white;
  padding-top:100px;
  
}

p {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
a {
  color: white;
  font-size: 27px;
  border: 1px;

}

h2 {
  color: rgb(215, 18, 18);
  font-size: 27px;
  border: 1px;

}
navbar {
  display: flex;
  justify-content:space-around; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
}

navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

navbar a:hover {
  background-color: black;
  color: grey;
}
