body {
  text-align: center;
  background-color: black;
  font-family: Garamond, cursive;
  color: white;
  /* background: url(/images/back.jpg); */
  /* background-repeat: repeat; */
  
}

a {

  color: white;
  font-size: 17px;
  border: 1px;

}

h2 {
  color: rgb(215, 18, 18);
  font-size: 27px;
  border: 1px;


}
