body {
  animation: fadein 5s;
  text-align: center;
  background-color: black;
  font-family: Garamond, cursive;
  color: white;

}

a {

  color: white;
  font-size: 17px;
  border: 1px;

}


.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: transparent;
  padding: 100px;
  align-items: center;
}

.image {
  opacity: 1;
  
  height: auto;
}

.grid-item:hover {
  opacity: 0.4;
  transform: scale(1.1);
  transition: transform 0.3s linear;

}

.grid-item {
  padding: 20px;
  text-align: center;
  border-color: white;
}

