body {
  background-color: black;
  font-family: Garamond, cursive;
  color: white;
  
}

a {

  color: white;
  font-size: 17px;

}



.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    background-color: transparent;
    padding: 100px;
    align-items: center;
  }
  
  .grid-item {
    background-color: transparent;
    justify-content: center;
    position: relative;
    display: block;  
    object-fit: cover;
    width: 100%;
    max-height: 100%; 
  
  
  }
  
  