body {
  text-align: center;
  background-color: black;
  font-family: Garamond, cursive;
  color: white;
  padding-top:100px;
  align-items: center;
  
}
 
 
navbar {
  display: flex;
  justify-content:space-around; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
}

navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

navbar a:hover {
  background-color: black;
  color: grey;
}

button {
  padding:10px;
  margin: 20px;

}


 .board
 {
   display:flex;
   background-color:SaddleBrown;
   height:200px;
   width:800px;
   border-radius:50px;
   padding:30px;

 }
 
 .section
 {
   background-color:rgba(255, 255, 255, 0.03);
   margin:5px;
 }
 
 .endsection
 {
   display:flex;
   flex-grow:1;
 }
 
 .midsection
 {
   display:flex;
   flex-direction:column;
   flex-grow:6;
 }
 
 .midrow
 {
   display:flex;
   flex-grow:1;
 }
 
 .pot
 {
   position:relative;
   background-color:rgba(255, 255, 255, 0.08);
   flex-grow:1;
   margin:5px;
   border-radius:50px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   font-size: 35px;
  
 }
 .pot:hover {
  cursor: pointer;
}
 

p {
  color: rgb(1, 1, 1);
  font-size: 27px;
  border: 1px solid white;
 }
