body {
  text-align: center;
  background-color: black;
  font-family: Garamond, cursive;
  color: white;
}

a {
  color: white;
  font-size: 17px;
  border: 1px;
}

p {
  color: white;
  font-size: 20px;

}


#paises_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: transparent;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  
  
  gap: 10px;
  
  
    
}

#bandeira {

  height: 50px;
  width: 50px;

}

#pais {
  padding: 10px;
  text-align: center; 
  border: solid 1px rgb(243, 243, 246); 
  width: 100px;
  height: 50px;
  
}

